header {
  margin-bottom: 15px;
}

nav img {
  float: left;
  padding-left: 16%;
}
nav {
  width: 100%;
  background-color: rgb(70, 71, 72);
  height: 100px;
}

nav li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 100px;
  font-size: 18px;
  border-radius: 8px;
}

main{
  text-align: center;
}

body img {
  margin: 15px;
}

article {
  width: 450px;
  height: 320px;
  display: inline-block;
  overflow: scroll;
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 20px;
  margin-bottom: 100px;
}

article p {
  margin-bottom: 15px;
}

button {
  width: 150px;
  height: 35px;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: -70px;
  float: right;
  margin-right: 530px;
}

/* Source:  Peter Carimichael, slack */
button:hover {
  background-color: rgb(57, 127, 135);
  transition: background-color 350ms; 
}

footer {
  width: 100%;
  background-color: rgb(70, 71, 72);
  height: 100px;
  margin-top: 15px;
}




